main,
header {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border: 1px solid black;
}

details {
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
}

#myname{
    color: red;
    font-size: larger;
}